.alerts {
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  flex-direction: column-reverse;
}

.myToast {
  overflow: hidden;
  font-size: 0.875rem;
  // background-clip: padding-box;
  background-color: inherit;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.myToast.show {
  opacity: inherit;
}

.alert {
  background-color: rgb(192, 155, 155);
  padding: 1rem;
  margin-top: 1rem;
  &:not(:last-child) {
    margin: 1rem 0 0 0;
  }
}

.alert1 {
  background-color: #bcd2d0;
}

.alert2 {
  background-color: #d2d0bc;
}

.alert3 {
  background-color: #ceccd2;
}

.move-enter {
  opacity: 0.01;
  transform: translate(-40px, 0);
}

.move-enter-active {
  opacity: 1;
  transform: translate(0, 0);
  transition: all 500ms ease-in;
}

.move-exit {
  opacity: 1;
  transform: translate(0, 0);
}

.move-exit-active {
  opacity: 0.01;
  transform: translate(40px, 0);
  transition: all 500ms ease-in;
}
