.alerts {
  margin-top: auto;
  align-self: flex-end;
  width: 10rem;
  display: flex;
  flex-direction: column-reverse;
}

.alert {
  background-color: rgb(192, 155, 155);
  padding: 1rem;
}

.alert1 {
  background-color: #bcd2d0;
}

.alert2 {
  background-color: #d2d0bc;
}

.alert3 {
  background-color: #ceccd2;
}
