.enter {
  opacity: 0.01;
  transition: opacity 500ms ease-in-out;
}

.enterActive {
  opacity: 1;
}

.exit {
  opacity: 1;
}

.exitActive {
  opacity: 0.01;
  transition: opacity 500ms ease-in-out;
}
