.App {
  text-align: center;
}

.not-found {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  font-weight: bold;
}

.id {
  font-weight: bold;
}

.description {
  display: flex;
  margin: 1rem auto;
  justify-content: center;
  text-align: left;
  max-width: 40rem;
  font-family: monospace;
}

.gist-description {
  flex-direction: column;
}

.gist-header {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.gist-date {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

.button {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #888;
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
  outline: none;
  font-size: 0.8rem;
}

.button:hover {
  background-color: tomato;
  border: 1px solid tomato;
  color: #fff;
  cursor: pointer;
}

.button-show {
  margin-left: 1rem;
}

.button-overview {
  width: 12rem;
  margin-top: 1rem;
}


