main,
main h3,
.prompt {
  padding: 20px;
}

h5 {
  margin: 10px;
}

.meal-info {
  margin: 20px 0 60px 20px;
}

.container {
  display: flex;
  padding: 10px;
}

.column {
  width: 200px;
  border-right: 2px solid black;
}
