.wrapper {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.input {
  display: block;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  border: 1px solid #ccc;
  background-color: #fff;
  font: inherit;
  padding: 6px 10px;

  &:focus {
    background-color: #ccc;
    outline: none;
  }
}
